/* add/minus/players/rounds  */

.minusPlayer {
  background: url(../../images/minus.png) no-repeat;
  background-position: center;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 8px 0px 0px 8px;
  border: 2px solid #2a9d8f;
  border-right: 0;
  display: inline-block;
  vertical-align: middle;
}

.plusPlayer {
  background: url(../../images/plus.png) no-repeat;
  background-position: center;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 0px 8px 8px 0px;
  border: 2px solid #2a9d8f;
  border-left: 0;
  display: inline-block;
  vertical-align: middle;
}

.playerInput {
  /* width: 70%;
  text-align: center;
  border: 2px solid #2a9d8f;
  display: inline-block;
  vertical-align: middle; */
}
