.howItWorksDiv {
    height: calc(100vh - 96px);
    text-align: center;
    margin: 0px 24px 0px 24px;
}

.howItWorksH2 {
    padding-top: 64px; 
}

.howItWorksP {
    font-family: 'Quicksand', sans-serif;
    margin-top: 24px;
}