.introContents {
    height: 100vh;
    margin: 0px 24px 0px 24px;

}

.dadJokesIntroH1 {
    color: #fff;
	font-size: 48px;
    font-family: 'Pacifico', cursive;
    padding-top: 280px;
}

.introH2 {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 24px;
}

#introOrangeBtn {
    margin-top: 216px;
}

.howItWorksP{
    margin-top: 24px;
}